@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

nav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-top: 32px;
  height: 80px;
}

.logo {
  width: 200px;
  align-items: center;
  display: flex;
}

.logo__text {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.purple {
  color: rgb(84, 23, 138);
}

.nav__container img {
  height: 44px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 500;
  padding: 8px 20px;
  transition: all 1s ease;
}

.nav__link:hover {
  text-decoration: none;
  border-bottom: 2px solid rgb(84, 23, 138);
  }

.nav__link--primary {
  border: none;
  background-color: rgb(84, 23, 138);
  color: #fff;
  padding: 10px 32px;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: rgb(65, 18, 106);
}

header {
  min-height: 40vh;
  display: flex;
  align-items: center;
}

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 48px;
}

h1 {
  font-size: 36px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

p {
  max-width: 462px;
  font-size: 16px;
}

.header__img {
  max-width: 700px;
  width: 80%;
}

.header__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.header__description__para {
  margin-bottom: 32px;
}

.email__form {
  display: flex;
}

.input__email {
  display: flex;
  align-items: center;
  max-width: 400px;
  border-radius: 100px;
  color: black;
  border-color: rgba(128, 128, 128, 0.1);
  font-size: 20px;
  text-align:center;
  padding: 18px;
}

.input__email:active {
  border-color: rgb(84, 23, 138);
}

.input__email__button {
  background-color: rgb(84, 23, 138);
  color: #fff;
  height: 68px;
  border-radius: 144px;
  font-weight: 700;
  font-size: 18px;
  width: 144px;
  margin: 0 auto;
  padding: 8px 18px;
  text-align: center;
  border: none;
  z-index: 2;
  transition: all 300ms ease;
}

.input__email__button:hover {
  background-color: rgb(65, 18, 106);
}


#features .row__features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row__features__row {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.features__tag {
  color: rgb(65, 18, 106);
  padding: 32px;
  font-size: 18px;
  letter-spacing: 2px
}

.features__title {
  font-weight: 800;
  font-size: 48px;
  padding-bottom: 32px;
  color: rgb(36, 62, 99);
}

.features__para {
  color: rgb(36, 62, 99);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  min-width: 525px;
}

.features {

}