@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  padding-top: 32px;
  height: 80px;
  display: flex;
}

img {
  height: 100%;
  display: flex;

}

.logo {
  width: 200px;
  align-items: center;
  display: flex;
}

.logo__text {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.purple {
  color: rgb(84, 23, 138);
}

.nav__container img {
  height: 44px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 500;
  padding: 8px 20px;
}

.nav__link:hover {
  text-decoration: underline;

}

.nav__link--primary {
  border: none;
  background-color: rgb(84, 23, 138);
  color: #fff;
  padding: 10px 32px;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

header {
  height: calc(100vh-80px);
}

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-size: 36px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

p {

}

.header__img {
  max-width: 768px;
  width: 100%;
}